<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="buttons-container">
            <div class="dashboard-button">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="green-button">
                <a href="{{ url_for('admin_approve') }}">Approve</a>
            </div>
            <div class="logout-button">
                <a href="{{ url_for('admin_delete') }}">Delete</a>
            </div>
            <div class="logout-button">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </header>
    <div class="head-container">
    </div>

    <h1>Users</h1>
    <div class="user-data-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_data %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.user_role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
        <p>Nextride-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
    </footer>
</body>
</html>
