<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="menu-container">
            <nav class="menu">
                <a href="{{ url_for('index') }}" {% if request.path == url_for('index') %}class="selected"{% endif %}>Home</a>
                <a href="{{ url_for('dashboard') }}" {% if request.path == url_for('dashboard') %}class="selected"{% endif %}>Dashboard</a>
                <a href="{{ url_for('management_dashboard') }}" {% if request.path == url_for('management_dashboard') %}class="selected"{% endif %}>Users</a>
                <a href="{{ url_for('management_approve') }}" {% if request.path == url_for('management_approve') %}class="selected"{% endif %}>Approve</a>
                <a href="{{ url_for('management_delete') }}" {% if request.path == url_for('management_delete') %}class="selected"{% endif %}>Delete files</a>
                {% if session['user_role'] >= 9 %}
                <a href="{{ url_for('management_role') }}" {% if request.path == url_for('management_role') %}class="selected"{% endif %}>Set role</a>
                {% endif %}
                <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </div>
    </header>
    <div class="head-container">
    </div>

    <h1>Users</h1>
    <div class="user-data-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_data %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.user_role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
        <p>Nextride-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
    </footer>
</body>
</html>
