<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="menu-container">
            <nav class="menu">
                <a href="{{ url_for('index') }}" {% if request.path == url_for('index') %}class="selected"{% endif %}>Home</a>
                <a href="{{ url_for('dashboard') }}" {% if request.path == url_for('dashboard') %}class="selected"{% endif %}>Dashboard</a>
                <a href="{{ url_for('management_dashboard') }}" {% if request.path == url_for('management_dashboard') %}class="selected"{% endif %}>Users</a>
                <a href="{{ url_for('management_approve') }}" {% if request.path == url_for('management_approve') %}class="selected"{% endif %}>Approve</a>
                <a href="{{ url_for('management_delete') }}" {% if request.path == url_for('management_delete') %}class="selected"{% endif %}>Delete files</a>
                <a href="{{ url_for('management_role') }}" {% if request.path == url_for('management_role') %}class="selected"{% endif %}>Set role</a>
                <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </div>
    </header>
    <div class="head-container">
    </div>
    
    <h1>Users</h1>
    <div class="user-data-container">
        <center>
        <form action="/management/set_role" method="post">
            <label for="username">Username:</label>
            <input type="text" id="user_name" name="target_user_name"><br><br>
            
            <label>Select Role:</label><br>
            <input type="radio" id="admin" name="role_name" value="admin">
            <label for="admin">admin</label><br>

            <input type="radio" id="moderator" name="role_name" value="moderator">
            <label for="moderator">moderator</label><br>
            
            <input type="radio" id="default" name="role_name" value="default">
            <label for="default">default</label><br>
            
            <input type="radio" id="block" name="role_name" value="block">
            <label for="block">block</label><br><br>

            <button type="submit" class="green-button">Change Role</button>
        </form>
        </center>
    </div>
        

    <footer>
        <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
        <p>Nextride-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
    </footer>
</body>
</html>
