[Unit]
Description=Nextride2-infobeamer
After=network.target

[Service]
ExecStart=/usr/bin/python3 <path/to/Nextride2-infobeamer/html/services/runner/main.py> -cms CMS_URL
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
