[Unit]
Description=Nextride2-infobeamer
After=network.target

[Service]
User=default
Group=default
WorkingDirectory=<path/to/Nextride2-infobeamer/html>
ExecStart=/usr/bin/python3 <path/to/Nextride2-infobeamer/html/main.py>
Restart=always

[Install]
WantedBy=multi-user.target
