body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #ffbb00;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}

input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #fb6542;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
}

button[type="submit"] {
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2b4811;
}

.image-container {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.image-table {
    width: 100%;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 33%; /* Each item takes up 32% of the container width */
    max-width: 33%; /* Limit maximum width of each item */
    padding: 8px; /* Add spacing between images */
    box-sizing: border-box; /* Include padding in the total width */
    aspect-ratio: 1; /* Force aspect ratio to be 1:1 (square) */
}

/* Set the width of the images to fill their parent container */
.image-item img {
    width: 100%; /* Make sure images fill their parent container */
    height: 100%; /* Make sure images fill their parent container */
    object-fit: cover; /* Crop the image to cover the entire box */
}


.image-item:hover img {
    transform: scale(1.1);
}