<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>404 Not Found</title>
</head>
<body>
    <div class="info-container">
        <h1>404 - Page Not Found</h1>
        <p class="error-message">Oops! The page you're looking for does not exist.</p>
        <a href="/" class="custom-button-green">Back to Home</a>
    </div>
</body>
<footer>
    <a href="{{ url_for('upload_form') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
    <p>Nextride2-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
</footer>
</html>
