[Unit]
Description=Nextride2-infobeamer-extension-updater
After=network.target

[Service]
WorkingDirectory=PATH_TO_HTML_FOLDER
ExecStart=/usr/bin/python3 ../services/extension_updater/n2i_extension_update.py
RestartSec=2
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
