<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Users</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="menu-container">
            <nav class="menu">
                <a href="{{ url_for('index') }}" {% if request.path == url_for('index') %}class="selected"{% endif %}>Home</a>
                <a href="{{ url_for('dashboard') }}" {% if request.path == url_for('dashboard') %}class="selected"{% endif %}>Dashboard</a>
                {% if session['user_role'] >= 6 %}
                <a href="{{ url_for('management_approve') }}" {% if request.path == url_for('management_approve') %}class="selected"{% endif %}>Approve</a>
                <a href="{{ url_for('management_delete') }}" {% if request.path == url_for('management_delete') %}class="selected"{% endif %}>Delete files</a>
                {% endif %}
                {% if session['user_role'] >= 9 %}
                <a href="{{ url_for('management_users') }}" {% if request.path == url_for('management_users') %}class="selected"{% endif %}>Users</a>
                <a href="{{ url_for('management_extensions') }}" {% if request.path == url_for('management_extensions') %}class="selected"{% endif %}>Extensions</a>
                {% endif %}
                <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </div>
    </header>
    <div class="head-container">
    </div>

    <h1>Mastodon fetcher</h1>
    <div class="extension-container">
        <div class="extension-management">
            <form action="/management/extensions/mastodon/update" method="post">
                <div class="tooltip">
                    <label for="tags">Hashtags:</label>
                    <span class="tooltip-anchor" title="Help">&#10067;</span>
                    <span class="tooltiptext">Enter hashtags for which to create slides. One hashtag per row. Limit specifies the maximum of slides to create for each hashtag.</span><br>
                    <textarea id="tags" name="tags" rows="8" cols="30" maxlength="500"></textarea><br><br>
                </div><br>
        
                <label for="limit">Limit:</label><br>
                <input type="number" id="limit" name="limit" min="0" max="20" step="1" value="10"><br>
        
                <button type="submit" class="green-button">Update configuration</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tag</th>
                    <th>Limit</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td><button onclick="copyToClipboard('{{ tag.name }}')">{{ tag.name }}</button></td>
                    <td>{{ tag.limit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            const copyToClipboard = async (text) => {
                try {
                    await navigator.clipboard.writeText(text);
                } catch (err) {
                    console.error('Failed to copy: ', err);
                }
            }
        </script>
    </div>
</body>
<footer>
    <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
    <p>Nextride2-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
</footer>
</html>
