body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Set the minimum height of the body to the full viewport height */
}

h1, h2 {
    color: #ffbb00;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}

input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #fb6542;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
}

footer {
    color: #fff;
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100%;
    margin: 60px auto;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.menu-container {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.menu a {
    display: block;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff; /* Dark gray text color */
}

.menu a:hover {
    background-color: #747474; /* Light gray background on hover */
}

.menu a.selected {
    background-color: #8e44ad; /* Purple background for selected item */
    color: #fff; /* White text color */
}

.menu a.logout-button {
    background-color: red; /* Purple background for selected item */
    color: #fff; /* White text color */
}

.head-container {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}

.green-button {
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
    
.green-button:hover {
    background-color: #2b4811;
}

.set-role-button a {
    background-color: purple;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the image */
    margin: 5px;
}

.approve-button {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the image */
    margin: 5px;
}

.info-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.image-table {
    width: 100%;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 33%; /* Each item takes up 32% of the container width */
    max-width: 33%; /* Limit maximum width of each item */
    padding: 8px; /* Add spacing between images */
    box-sizing: border-box; /* Include padding in the total width */
    aspect-ratio: 1; /* Force aspect ratio to be 1:1 (square) */
}

/* Set the width of the images to fill their parent container */
.image-item img {
    width: 100%; /* Make sure images fill their parent container */
    height: 100%; /* Make sure images fill their parent container */
    object-fit: cover; /* Crop the image to cover the entire box */
}

.image-item:hover img {
    transform: scale(0.95);
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.user-data-container{
    margin: 0 auto; /* Center the container horizontally */
    width: 80%;
}

.user-management {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
    text-align: start;
}

.user-role-management,
.user-upload-management {
    text-align: start;
    width: 50%; /* Both forms will take 50% of the width by default */
}

.extension-management{
    text-align: center;
}

.extension-container{
    margin: 0 auto; /* Center the container horizontally */
    width: 80%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext.active {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-anchor:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-anchor {
    margin-left: 5px;
    cursor: help;
}


@media (max-width: 600px) {
    .menu {
        display: block;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Align items horizontally in the center */
    }

    .user-management {
        text-align: center;
    }

    .user-role-management,
    .user-upload-management {
        width: 100%; /* Both forms will take full width on smaller devices */
    }
}