body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Set the minimum height of the body to the full viewport height */
}

h1, h2 {
    color: #ffbb00;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
}

input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #fb6542;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
}

footer {
    color: #fff;
    text-align: center;
    position:relative;
    bottom: 0;
    width: 100%;
    margin: 60px auto;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.head-container {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
}

.green-button {
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
    
.green-button:hover {
    background-color: #2b4811;
}

.dashboard-button a {
    background-color: gray;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;

}

.logout-button a {
    background-color: red;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.set-role-button a {
    background-color: purple;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the image */
    margin: 5px;
}

.approve-button {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above the image */
    margin: 5px;
}

.info-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-button-green {
    background-color: #3f681c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    margin: 5px;
}

.image-container {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}

.image-table {
    width: 100%;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    flex: 0 0 33%; /* Each item takes up 32% of the container width */
    max-width: 33%; /* Limit maximum width of each item */
    padding: 8px; /* Add spacing between images */
    box-sizing: border-box; /* Include padding in the total width */
    aspect-ratio: 1; /* Force aspect ratio to be 1:1 (square) */
}

/* Set the width of the images to fill their parent container */
.image-item img {
    width: 100%; /* Make sure images fill their parent container */
    height: 100%; /* Make sure images fill their parent container */
    object-fit: cover; /* Crop the image to cover the entire box */
}

.image-item:hover img {
    transform: scale(0.95);
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.user-data-container{
    margin: 0 auto; /* Center the container horizontally */
    width: 80%;
}

@media (max-width: 600px) {
    .buttons-container {
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Align items horizontally in the center */
    }

    .dashboard-button,
    .logout-button {
        margin-left: 10px;
        margin-top: 30px; /* Reduce margin-top further for mobile view */
    }
}