<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCKED</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
</head>
<body>
    <div class="info-container">
        <h1 style="color: red;">Oops! You're Blocked</h1>
        <p>We're sorry, but your access to Nextcloud2-Infobeamer has been restricted</p>
        <p>If you belive this is a mistake you can contact the support.</p>
        <a href="{{support_url}}" class="custom-button-green">Contact Support</a>
    </div>
</body>
<footer>
    <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('faq') }}">FAQ</a>
    <p>Nextride2-infobeamer by Inflac | Hackerspace-Bielefeld e.V.</p>
</footer>
</html>
