[Unit]
Description=uWSGI instance to serve the nextride2 cms
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=PATH_TO_HTML_FOLDER
Environment="PATH=PATH_TO_N2i_FOLDER/.venv/bin"
ExecStart=PATH_TO_N2i_FOLDER/.venv/bin/uwsgi --ini PATH_TO_HTML_FOLDER/uwsgi.ini

[Install]
WantedBy=multi-user.target